<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link href="/image/weather.png" rel="icon" />
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="potrait" src="/image/passport_pic.jpg"/>
            <p>This site was created by Sumit Saurav. It fetch the data from openweather.com</p>
        </div>
        {{>footer}}
    </body>
</html>