<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link href="/image/weather.png" rel="icon" />
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        {{>footer}}
    </body>
</html>