<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link href="/image/weather.png" rel="icon" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this page content to get weather</p>
        <div class="inputText">
            <form id="myForm">
                <input type="text" name="address" id="address" placeholder="Enter city name...." />
                <input type="submit" id="submit" />
            </form>
        </div>
        <p id="message"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js" type="text/javascript"></script>
</body>

</html>